html, body {
  color: #141414;
  background-color: #000000;
  background-image: url('/images/brace.png');
  background-repeat: repeat-y;
  font-size: 16px;
}

body {
  width: 600px;
  margin: auto;
}

a, a:visited, a:hover {
  color: #D6482C;
  text-decoration: underline;
}

#content {
  font-size: 16px;
  font-weight: bold;
  background-color: #141414;
  color: #93c13b;
}

#inner-content {
  padding: 14px;
}

.top-border-one {
  background-color: #000;
  height: 10px;
}

.top-border-two {
  background-color: #ebedec;
  height: 14px;
}

h1 {
  text-transform: uppercase;
  background-color: #93c13b;
  text-align: center;
  margin-bottom: 0;
}

h1 a, h1 a:hover, h1 a:visited {
  text-decoration: none;
}

h1 .recipes a {
  color: white;
  font-size: 80px;
}

h1 .backbone a {
  color: black;
  font-size: 104px;
}

h2 {
  color: #4a4a4a;
  background-color: #ebedec;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

h2 .three, h2 .four {
  font-size: 36px;
}

h2 .four {
  color: #93c13b;
}

h3 {
  text-align: center;
  color: #93c13b;
}

.mailing-list {
  padding: 14px 20px 20px;
  background-color: #000;
  color: #93c13b;
  font-size: 14px;
}

.mailing-list p {
    margin-bottom: 0;
}

.mailing-list p.sign-up {
  text-align: center;
}

.mailing-list a, .mailing-list a:visited, .mailing-list a:hover {
  font-weight: bold;
  font-size: 14px;
}

.left-column {
  padding: 10px 10px 10px 20px;
  float:left;
  width: 370px;
  height: 280px;
  overflow: auto;
}
.spine {
  padding: 10px 20px 10px 0;
  float: left;
  width: 180px;
  height: 280px;
  background-color: #000;
  color: #93c13b;
  position: relative;
}
.spine p {
  margin: 0;
  padding: 0;
  width: 260px;
  font-size: 140px;
  position: absolute;
  right: -50px;
  top: 35px;
  font-weight: bold;
  letter-spacing: -26px;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

h3.authors, .links, .copyright {
  color: #4a4a4a;
  background-color: #ebedec;
  text-align: center;
  margin-bottom: 0;
}

h3.authors {
  clear:both;
  font-size: 42px;
}

h3.authors .lastname {
  font-weight: bold;
}

.links a {
  font-size: 12px;
  margin: 0 10px;
}
.copyright {
  margin-bottom: 20px;
}


.buy {
  text-align: center;
  margin-bottom: 20px;
  background-color: #ebedec;
  color: #4a4a4a;
  font-size: 18px;
  padding: 10px 20px;
}

.buy p {
  margin-bottom: 5px;
}

.buy a, .buy a:visited {
  font-size: 26px;
  text-decoration: none;

  /* ripped from twitter bootstrap */
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.buy a:hover {
  background-position: 0 -15px;
  color: #FF0000;
  text-decoration: none;
}
.buy a:focus {
  outline: 1px dotted #666;
}

h3.thanks {
  font-size: 48px;
  margin-bottom: 5px;
}

p.thanks-tweet {
  text-align:center;
  margin-bottom: 10px;
}
