html, body {
  color: #141414;
  background-color: #000000;
  background-image: url('/images/brace.png');
  background-repeat: repeat-y;
  font-size: 16px;
}

body {
  width: 800px;
  margin: auto;
}

a, a:visited, a:hover {
  color: #D6482C;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  font-size: 16px;
  font-weight: bold;
  background-color: #141414;
  color: #93c13b;
}

#inner-content {
  padding: 14px;
}

.top-border-one {
  background-color: #000;
  height: 10px;
}

.top-border-two {
  background-color: #ebedec;
  height: 14px;
}

h1 {
  text-transform: uppercase;
  background-color: #93c13b;
  text-align: center;
  margin-bottom: 0;
}

h1 a, h1 a:hover, h1 a:visited {
  text-decoration: none;
}

h1 .recipes a {
  color: white;
  font-size: 80px;
}

h1 .backbone a {
  color: black;
  font-size: 104px;
}

h2 {
  color: #4a4a4a;
  background-color: #ebedec;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

h2 .three, h2 .four {
  font-size: 36px;
}

h2 .four {
  color: #93c13b;
}

h2 .five {
  font-size: 20px;
  color: #D6482C;
  font-style: italic;
}

h2 .five .updated {
  background-color: #FFFF54;
  padding: 0px 5px;
}


h3 {
  text-align: center;
  color: #93c13b;
  margin-top: 10px;
}

.mailing-list {
  padding: 14px 20px 20px;
  background-color: #000;
  color: #93c13b;
  font-size: 14px;
}

.mailing-list p {
    margin-bottom: 0;
}

.mailing-list p.sign-up {
  text-align: center;
}

.mailing-list a, .mailing-list a:visited, .mailing-list a:hover {
  font-weight: bold;
  font-size: 14px;
}

h3.authors, .links, .copyright {
  color: #4a4a4a;
  background-color: #ebedec;
  text-align: center;
  margin-bottom: 0;
}

h3.authors {
  clear:both;
  font-size: 42px;
}

h3.authors .lastname {
  font-weight: bold;
}

.links a {
  font-size: 12px;
  margin: 0 10px;
}
.copyright {
  margin-bottom: 20px;
}


.buy {
  text-align: center;
  margin-bottom: 20px;
  background-color: #ebedec;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
}

.buy p {
  margin-bottom: 5px;
}

.buy a, .buy a:visited {
  color: white;
  font-size: 26px;
  text-decoration: none;

  /* ripped from twitter bootstrap */
  cursor: pointer;
  display: inline-block;
  background-color: #DC143C;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), color-stop(25%, #ff0000), to(#DC143C));
  background-image: -webkit-linear-gradient(#ff0000, #ff0000 25%, #DC143C);
  background-image: -moz-linear-gradient(top, #ff0000, #ff0000 25%, #DC143C);
  background-image: -ms-linear-gradient(#ff0000, #ff0000 25%, #DC143C);
  background-image: -o-linear-gradient(#ff0000, #ff0000 25%, #DC143C);
  background-image: linear-gradient(#ff0000, #ff0000 25%, #DC143C);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#DC143C', GradientType=0);
  margin: 15px 0px;
  padding: 15px 20px 18px;
  text-shadow: 0 1px 1px rgba(51, 51, 51, 0.75);
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.buy a:hover {
  text-shadow: 0 4px 4px rgba(51, 51, 51, 0.75);
}
.buy a:focus {
  outline: 1px dotted #666;
}

h3.thanks {
  font-size: 48px;
  margin-bottom: 5px;
}

p.thanks-tweet {
  text-align:center;
  margin-bottom: 10px;
}
