<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection"> 
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]--> 

  <link rel="stylesheet" href="/stylesheets/backbone.css" type="text/css">
  <meta name="viewport" content="width=600"/>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26160246-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id='content'>
    <div class='top-border-one'></div>
    <div class='top-border-two'></div>
    <h1>
      <div class='recipes'><a href="/">Recipes with</a></div>
      <div class='backbone'><a href="/">Backbone</a></div>
    </h1>
    <h2>
      <div class='one'>Strategies to accelerate development</div>
      <div class='two'>
        with
        <span class='three'>Backbone.</span><span class='four'>js</span>
      </div>
    </h2>
    <div class='mailing-list'>
      <p>Recipes with Backbone will be released on November 30, 2011. If you'd like to help us out with the beta or get notifications about its release,
        <a href="http://eepurl.com/fqMy2" class='btn small primary'>Sign-up for the mailing list</a>
      </p>
    </div>
    {{ content }}
    <h3 class='authors'>
      <span class='firstname'>Nick</span>
      <span class='lastname'>Gauthier</span>
      &amp;
      <span class='firstname'>Chris</span>
      <span class='lastname'>Strom</span>
    </h3>
    <div class='links'>
      <a href="http://twitter.com/backbonerecipes">Follow backbonerecipes on twitter</a>
      <a href="http://twitter.com/ngauthier">Follow @ngauthier on twitter</a>
      <a href="http://twitter.com/eee_c">Follow @eee_c on twitter</a>
    </div>
    <div class='copyright'>
      &copy; 2011
      <a href="http://www.ngauthier.com/">Nick Gauthier</a>
      and
      <a href="http://eeecomputes.com">Chris Strom</a>
    </div>
  </div>
</body>
</html>



