<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>{{ page.title }}</title>
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body class="bp one-col">
  <div id="container">
    <div id="content">
{{ content }}
    </div>
  <footer>Copyright 2011 <a href="http://www.ngauthier.com/">Nick Gauthier</a> and <a href="http://eeecomputes.com">Chris Strom</a></footer>
  </div>
</body>
</html>
